<div id="side_navigation" class="small-2 columns" style="background-color: #002b49; height: 100vh; padding-top: 2vh; color: white;">
	<h5 style="color: white;">
		Life Events Financial Calculator
	</h5>
	<ul class="filter-nav vertical">
		{{#each (getPages)}}{{#if @index}}
		<li class="filter-nav-entry ">
			<button class="nav-button" id="nav-{{id}}" pageid={{id}}>{{nav}}</button>
		</li>
		{{else}}
		<li class="filter-nav-entry ">
			<button class="nav-button" id="nav-{{id}}" style="background-color: #0068b3; color: white;" pageid={{id}}>{{nav}}</button>
		</li>
		{{/if}} {{/each}}
	</ul>
</div>
